.logo {
    margin-left: 55px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}

.fade-enter, .fade-leave-to  {
    opacity: 0
}

.a-have-child {
    cursor:pointer;
}

.arrow-menu {
    float: right;
    margin-top: 17px;
}

.item-menu-child{
    margin-left: 15px;
}

.item-menu-child-two {
    margin-left: 30px;
}

#profile-icon {
    width: 60px;
    height: 60px;
}

a.navbar-brand {
    padding: 10px;
    width: 248px;
    height: 60px;
}

.my-nav-icons {
    width: 20px;
    height: 20px;
}

.nav-link {
    color: #999;
}

#footer {
    position: fixed; /* Фиксированное положение */
    left: 0;
    bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    width: 100%; /* Ширина слоя */
}
